.appHeader {
  position: sticky;
  top: 0;
  z-index: 10;
  margin: 20px 0;
  padding: 20px 40px;
  color: var(--gray-700);
  background: inherit;
  border-bottom: 1px solid #555;
}

a, button {
  padding: 0 20px;
  font-size: var(--font-lg);
  color: var(--gray-700);
  text-decoration: none;
}
a.active,
a:hover,
button.active,
button:hover{
  font-weight: 700;
}

.headerInner {
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.brand {
  border: 2px solid #111;
  background: #fff;
  padding: 10px 14px;
  cursor: pointer;
  font-weight: 700;
}

.appHeader nav {
  display: flex;
  gap: 10px;
}

.authArea {
  margin-left: auto;
  display: flex;
  gap: 8px;
}

.solidBtn {
  border: 2px solid #111;
  background: #111;
  color: #fff;
  padding: 10px 12px;
  cursor: pointer;
}

.ghostBtn {
  border: 2px solid #111;
  background: #fff;
  color: #111;
  padding: 10px 12px;
  cursor: pointer;
}
