apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "api.fullname" . }}
  labels:
    {{- include "api.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "api.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "api.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: api
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8000
          env:
            - name: APP_ENV
              value: {{ .Values.env.APP_ENV | quote }}
            - name: DB_HOST
              value: {{ .Values.env.DB_HOST | quote }}
            - name: DB_PORT
              value: {{ .Values.env.DB_PORT | quote }}
            - name: DB_NAME
              value: {{ .Values.env.DB_NAME | quote }}
            - name: DB_USER
              value: {{ .Values.env.DB_USER | quote }}
            - name: DB_PASSWORD_FILE
              value: "{{ .Values.secretsMount.mountPath }}/{{ .Values.secretsMount.dbPasswordKey }}"
            - name: JWT_SECRET_KEY_FILE
              value: "{{ .Values.secretsMount.mountPath }}/{{ .Values.secretsMount.jwtSecretKeyKey }}"
          readinessProbe:
            httpGet:
              path: {{ .Values.probes.readinessPath | quote }}
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: {{ .Values.probes.livenessPath | quote }}
              port: http
            initialDelaySeconds: 15
            periodSeconds: 20
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
            {{ if .Values.secretsMount.enabled }}
          volumeMounts:
            - name: app-secrets
              mountPath: {{ .Values.secretsMount.mountPath | quote }}
              readOnly: true
                        {{ end }}
                        {{ if .Values.secretsMount.enabled }}
      volumes:
        - name: app-secrets
          secret:
            secretName: {{ include "api.fullname" . }}-secrets
                        {{ end }}
